# Dependencies (Never commit node_modules to GitHub!)
node_modules/
frontend/node_modules/

# Production builds
dist/
frontend/dist/

# Python cache and environments
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local logs & temp DB files
*.log
*.db-shm
*.db-wal
*.lnk
